@model itka.ViewModels.ProductViewModel
@using (@Html.BeginForm("SaveProduct", "App", FormMethod.Post, new { @id = "SaveProductForm", enctype = "multipart/form-data", @data_toggle = "validator" }))
{
    @Html.AntiForgeryToken()
    <div class="">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="col-sm-8 col-sm-offset-2">
            <div class="form-group">
                <label class="col-md-12 pull-left">Emërtimi<span style="color:red;">*</span></label>
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Product.name, new { htmlAttributes = new { @class = "form-control", required = "required", @data_bv_notempty_message = "Emërtimi nuk mund të lihet bosh!"} })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-12 pull-left">Kodi/Numri<span style="color:red;">*</span></label>
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Product.number, new { htmlAttributes = new { @class = "form-control", required = "required", @data_bv_notempty_message = "Kodi produktit nuk mund të lihet bosh!" } })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-12 pull-left">Përshkrimi</label>
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Product.description, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-12 pull-left">Njësia<span style="color:red;">*</span></label>
                <div class="col-md-12">
                @Html.DropDownListFor(x => Model.Product.idunit, new SelectList(Model.Units, "id", "name"), htmlAttributes: new { @class = "form-control", required = "required", @data_bv_notempty_message = "Njësia nuk mund të lihet bosh!" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-12 pull-left">Sasia minimum në magazinë</label>
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Product.minquantity, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = "0", @step = "1", Value = 0 } })
                </div>
            </div>           
            <div class="form-group">               
                <div class="col-md-12">
                    <div class="clearfix"></div>
                    @Html.HiddenFor(model => model.Product.status, new { Value = true })
                    @Html.HiddenFor(model => model.Product.datecreated, new { Value = DateTime.Now })
                </div>
                <div class="clearfix"></div>
                <br />
                <div class="col-md-12">
                    <div class="pull-right">
                        <button type="button" class="btn btn-white waves-light" onclick="CloseModal('create-modal')">Anullo</button>&nbsp;
                        <button type="button" class="btn btn-success pull-right" data-id="SaveProductForm" data-url="SaveProduct" data-table="ProductsTbl" onclick="SubmitCreateForm(this)">Ruaj</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
